/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* RESETS */
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body, html {
    height: 100%;
}

/* Customizations */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 8px double black;
}

header button {
    background-color: black;
    width: 100px;
    color: white;
    border: none;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    margin-top: 10px;
    border-bottom: 8px double black;
    min-height: 731px;
}

main article {
    position: relative;
    
    margin: 5px 15px;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-top: 5px double black;
    border-bottom: 5px double black;
    min-height: 125px;
}

main h3 {
    
    padding-right: 1710px;
    margin: 0 20px;
    border-bottom: 3px solid black;
}

main .content {
    position: absolute;
    left: 30px;
    
}

p.postedBy {
    position: absolute;
    left: 30px;
    bottom: 0;
    
    padding: 3px;
    
}

footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    left: 900px;
    
}

/* DARK MODE */

header.darkMode {
    background-color: #28282B;
    color: #D3D3D3;
    border-bottom: 8px double #696969;
}

body.darkMode {
    background-color: #28282B;
}

article.darkMode {
    border-right: 3px solid #696969;
    border-left: 3px solid #696969;
    border-top: 5px double #696969;
    border-bottom: 5px double #696969;
}

main h3.darkMode {
    color: #D3D3D3;
    border-bottom: 3px solid #696969;
}

main .content.darkMode, footer h3.darkMode {
    color: #D3D3D3;
}

main.darkMode {
    border-bottom: 8px double #696969;
}

.postedBy.darkMode {
    color: #D3D3D3
}