/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* RESETS */
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body, html {
    height: 100%;
}
/* Customizations */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 8px double black;
}
header h1 {
    font-size: 2rem;
}

header  button {
    background-color: black;
    width: 100px;
    color: white;
}

section{
    display: flex;
    justify-content:center;
    align-items: center;
}

section .image{
    padding-right: 100px;
}

section .formBox {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% of the viewport height */
    justify-content: center; /* Center the form vertically */
    align-items: center; /* Center the form horizontally */
    border-left: 8px double black;
    padding-left: 100px;
}

section .form {
    /* padding: 0 318.5px; */
    font-size: 1.5rem; 
}

section input {
    width: 800px;
    /* padding-bottom: 10px; */
}

section #username, #title {
    height: 30px;
}

section #content {
    height: 150px;
}

section button {
    width: 800px;
    height: 30px;
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 1rem;
}

/* DARK MODE */

header.darkMode {
    background-color: #28282B;
}

section.darkMode {
    background-color: #28282B;
    
}

header.darkMode {
    color: #D3D3D3;
    border-bottom: 8px double #696969;
}

label.darkMode {
    color: #D3D3D3;
}

.submit.darkMode {
    color:rgb(243, 175, 48);
}

header button.darkMode{
    background-color: #D3D3D3;
    color: black;
}

section .formBox.darkMode {
    border-left: 8px double #696969;
    
}